.bg_body {background:url('../../../public/images/default_theme/login/login_bg.jpg') no-repeat top center;}
.login_content {width:508px;} /* 登陆框宽度  */
.login_logo {margin:145px 0 0 15px;} /* 标题设置 */
/* 登陆框设置 */
.login_box {background:url(../../../public/images/default_theme/login/loginbox_bg.png) no-repeat; height:212px; padding-top:60px; width:508px;}
/* 登陆内框设置 */
.login_inner {color:#161616; width:310px;}.th{padding:0 0 6px 0; text-align:left; width:95px;}.td{padding:0 0 6px 0;}.form{color:#161616;}
/* 文本框设置 */
.login_inp {background:url(../../../public/images/default_theme/login/inp_login.gif) no-repeat; border:none; height:28px; width: 204px; padding:6px 6px 0 10px;}
/* 提交按钮 */
.login_submit {background:url(../../../public/images/default_theme/login/submit_login.gif) no-repeat; border:none; cursor:pointer; display:block; height:29px; text-indent:-3000px; width:73px;}
.login_submit:hover {background-position:0 -29px;}
